* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  height: 100vh;
  background-color: #6b9797;
}
.portPhoto {
  margin-top: 10px;
  margin-bottom: 80px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  height: 250px;

  width: 150px;
}
.portPhoto img {
  margin-top: 30px;
  margin-bottom: 30px;
  width: 500px;
  height: 300px;
}
.photoContainer li {
  list-style: none;
  width: 500px;
  height: 300px;
}
.photoContainer {
  justify-content: space-around;
  display: flex;
  flex-wrap: wrap;
}
.photoContainer P {
  margin-bottom: 30px;
}
.nav-item {
  justify-content: space-around;
  list-style: none;
  padding: 20px;
  text-decoration: none;
}
.nav-tabs {
  display: flex;
  background-color: #6b6e6f;
}
.portEntry {
  text-align: center;
  margin: 0 auto;
  font-size: 25px;
}
.aboutMe-container {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}
.aboutMe-container p {
  font-size: 30px;
  text-align: center;
  display: flex;
  flex-direction: column-reverse;
}
.aboutMe-container img {
  width: 500px;
  height: 300px;
}
.anchor-item img {
  width: 100px;
  height: 50px;
}
